/* .container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.main {
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    height: 100%;
    width: 100%;

    padding: 2rem;
    overflow-y: auto;

    display: grid;
    place-items: center;
    place-content: center;
} */

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.subtitle {
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 1rem;
}

.btn__group button {
    margin-top: 0.5rem;
    width: 100%;
}

.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 2rem;
}

.logo {
    width: 300px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.452));
}

.blue {
    color: var(--primary);
}

@media screen and (min-width: 650px) {
    /* .main {
        height: 90vh;
        width: 650px;
    } */
}
