.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.main {
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    height: 100%;
    width: 100%;

    padding: 2rem;
    overflow-y: auto;

    display: grid;
    place-items: center;
    place-content: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    color: var(--secundary);
}

.btn__group button {
    margin-top: 0.5rem;
    width: 100%;
}

@media screen and (min-width: 650px) {
    .main {
        height: 90vh;
        width: 650px;
    }
}
